footer {
  background-color: $color-blue-dark;
  color: $color-grey-light;
  padding: 9rem 7rem 3rem 7rem;

  @include clearfix();

  #logo-text-footer {
    font-size: 4rem;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    width: 25%;
    float: left;
  }

  #copyright {
    width: 75%;
    float: left;
    font-size: 1.2rem;

    p:first-child {
      margin-bottom: 20px;
      word-break: break-all;
      text-align: justify;
      column-count: 3;
      column-gap: 3rem;
      column-rule-style: solid;
      column-rule-width: 1px;
      column-rule-color: #888;
      column-width: 1rem;
    }
  }
}
